
    <div class="text-center">
        <h1 class="display-4">Gleen Akademi</h1>
        <p>
            <a class="btn btn-dark" asp-controller="Course" asp-action="Apply">Apply Now</a>
        </p>
        
    </div>
